body {
    background-color: rgba(53, 49, 49, 0.932);
    color: white;
}

header, footer {
    background-color: #353535;
}
.nav>li {
    background-color: rgb(233, 207, 199);
}

.nav>li>a {
    color: rgb(56, 56, 170);
}

.fa-phone-alt,
h1 {
    color: rgb(138, 245, 138);
}

.fa-linkedin {
    color: #67adf3;
}

.fa-github {
    color: rgb(255, 255, 255);
}

.fa-envelope {
    color: #eb776f;
}

.fa-download {
    color: white;
}

.introdiv3 a{
    background-color: goldenrod;
    color: white;
    text-decoration: none;
}

h2 {
    color: rgb(212, 111, 212);
}

.introdiv2 li {
    color: rgb(252, 252, 161);
}

.panel {
    background-image: linear-gradient(to top left,  #838080, #000000);
    color: #ffffff;
}

.card {
    background-color: #838080;
    color: black;
}

strong {
    color: rgb(0, 153, 255);
}

th {
    color: rgb(0, 153, 255);;
}

table {
    border: white;
}

tr:nth-child(odd) {
    background-color: #353535;
}

tr:nth-child(even) {
    background-color: #838080;
}

