/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Html */ 
html {
    scroll-padding-top: 3rem;
    scroll-behavior: smooth; 
}
/* Body */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
}

/* Headings */
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}