/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Html */ 
html {
    scroll-padding-top: 3rem;
    scroll-behavior: smooth;
    max-width: 100%; 
    overflow-x: hidden;
}

/* Body */
body {
    font-family: 'PT Sans', sans-serif;
    height: 100%;
}

/* Headings */
h1 {
    font-size: 2rem;
    font-family: 'Berkshire Swash', cursive;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
    font-family: 'Emilys Candy', cursive;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}

small {
    font-size: 1rem;
}

strong {
    font-family: 'Courgette', cursive;
}