/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    vertical-align: top;
    position: sticky;
    top: 0px;
    z-index: 0;
    margin-bottom: 1rem;
}

/* ------------------------------------------------------- */
/* Nav Bar and List */
nav {
    display: none;
    position: relative;
    width: 100vw; 
    max-height: 3rem; 
}

nav >  a {
    font-size: 1.2rem;
    padding: 5px;
}

.menu {
    display: none;
}

.responsiveNav {
    width: fit-content;
    width: -moz-fit-content;
}

.responsiveNav:hover .navitem{
    display: block;
    
}

.responsiveNav .navitem {
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    width: -moz-fit-content;
    position: relative;
}

.responsiveNav .menu {
    display: inline;
    position: fixed;
    top: 2px;
}

/* Icons */
a > i {
    font-size: 1.5rem;
    padding: 10px;
}

/* styling the alt text like a tooltip */
#links i[alt]:hover::after {
    content: attr(alt);
    position: inherit;
    top: -100%;
    left: 0px;
}

#links {
    position: fixed;
    display: none;
    z-index: 3;
}

/* ------------------------------------------------------- */
/* H1 */
h1 {
    position: fixed;
    display: inline;
    z-index: 3;
}

/* -------------------------------------------------------- */
/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: bottom;
    padding: 0 10px 0 10px;
    margin-top: 1rem;
}

.langicons {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.langicons > i {
    width: 20%;
    font-size: 4rem;
    font-weight: 400;
    padding: 10px;
    animation: 1.5s shakeIcons linear infinite;
}

@keyframes shakeIcons {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
}