/* Main */
main {
    display: none;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    font-size: 1.4rem;
    height: 100%;
}

/* Creating a toggle switch. Code adopted and modified from https://codepen.io/somali_12/pen/YzqEbdp */
.switch-holder {
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    font-size: 1.3rem;
}

.switch-label {
    text-align: right;
}

.switch-toggle {
    height: 3rem;
}

.switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
}

.switch-toggle input[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    width: 7vw;
    height: 2rem;
    border-radius: 1rem;
    margin: 10px;
    box-shadow: inset -8px -8px 15px rgba(255, 255, 255, .6),
        inset 10px 10px 10px rgba(0, 0, 0, .25);
}

.switch-toggle input[type="checkbox"]+label::before {
    position: absolute;
    content: 'OFF';
    font-size: 0.7rem;
    text-align: center;
    line-height: 1.3rem;
    top: 0.3rem;
    left: 0.3rem;
    width: 3vw;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: #d1dad3;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),
        3px 3px 5px rgba(0, 0, 0, .25);
    transition: .3s ease-in-out;
    z-index: -1;
}

.switch-toggle input[type="checkbox"]:checked+label::before {
    left: 50%;
    content: 'ON';
    color: #fff;
    background-color: #00b33c;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),
        3px 3px 5px #00b33c;
    z-index: -1;
}

/* ---------------------------------------------------------------- */
/* Intro Section */
.intro {
    flex-direction: row;
    align-self: center;
}

.introdiv1 {
    flex: 2;
    text-align: right;
}

.introdiv2 {
    flex: 6;
    padding-left: 8px;
}

.introdiv2 > ul {
    list-style-type: none;
}

.introdiv3 {
    flex: 2;
    text-align: right;
    font-size: 0.9rem;
}

.introdiv3 a {
    padding: 0.5rem;
    border-radius: 3%;
}
.hello {
    text-align: left;
}

.profile {
    width: 15vw;
    height: auto;
    border-radius: 50%;
}

.intro {
    display: flex;
    width: 98%;
}

/* ---------------------------------------------------------------- */
/* About Me Article */
.panel {
    font-size: 1.2rem;
    margin: 20px;
    border-style: ridge;
    border-radius: 3%;
    padding: 20px;
}

/* ---------------------------------------------------------------- */
/* Projects section */
.projectSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cardbox {
    width: 50%;
    text-align: center;
}

.card {
    margin: 20px;
    border-style: ridge;
    border-radius: 3%;
}

.card > img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 3%;
}

h3 > a {
    color: unset;
}

/* 
.content1:hover,
.content2:hover {
    outline: 7px dashed #a3ffa3;
    box-shadow: 0 0 0 7px rgba(77, 124, 255, 0.932);
    animation: 0.5s animateBorder infinite;
}

@keyframes animateBorder {
    to {
      outline-color: rgba(77, 124, 255, 0.932);
      box-shadow: 0 0 0 7px #a3ffa3;
    }
}

.langicons,
.toolicons {
    display: flex;
    flex-direction: row;
    width: 99%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.langicons>i {
    vertical-align: middle;
    width: 20%;
    font-size: 4.5rem;
    padding: 10px;
}

.toolicons>img {
    vertical-align: middle;
    width: 20%;
    padding: 10px 6%;
    height: auto;
} */

/* List Styles */
ul {
    list-style-position: inside;
    list-style-type: circle;
}

ul ul {
    list-style-position: inside;
    list-style-type: square;
    margin-left: 1vw;
}

ul ul ul {
    list-style-position: inside;
    list-style-type: disc;
    margin-left: 1vw;
}

/* ---------------------------------------------------------------- */
/* Table Styles */
table,
th,
td {
    border: 1px groove;
    border-collapse: collapse;
}

table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
}

tr td:nth-child(2),
tr td:nth-child(3),
tr th:nth-child(2),
tr th:nth-child(3) {
    text-align: center;
}